<html>
<head> 
    <meta charset="UTF-8">
<title>message</title>

 <style>
</style>
</head>
<body>
<p>hello</p>
<form action="http://0.0.0.0:5000/message", methods =['POST']></form>
<lable for= "name"> Name:</lable>
<br>
<input type = "text" name ="name"> </input>
</form>
<br>
<lable for="message"> Message:</lable>
<input type = "submit" name = "message"></input>
<br>
<a href = "http://0.0.0.0:5000/show_messages"> <button type = "submit"></button><input type="submit" value="Submit"></a>
</form> 


</body>
</html>
