<html>
<head> 
    <meta charset="UTF-8">
<title>message</title>

 <style>
</style>
</head>
<body>
<html>
  <body style= "background-color:black;">
	  <h1 style= "color:1ECDDE;";>Send me a message!</h1>
     <form action = "/success" method = "post">
        
        <h3><lable style= "color:189CEB;">Type your Name:</lable><input type = "text" name = "name" placeholder=" Ex: Bob" /></h3>
        
	<h3><lable style= "color:189CEB;">Type your Message:</lable><input type = "text" name = "message" placeholder="EX: what a nice day" /></h3>
	
        <h5 ><input style="background-color=black;"type = "submit" value = "submit" /></h5>
     </form>  
  </body>
</html>

</body>
</html>
